body {
  font-family: 'Do Hyeon', sans-serif;
  word-break: keep-all;
}
body::before {
  display: block;
  content: '';
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

#profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.heejinPink {
  color: #ED0090;
}
.hyunjinYellow {
  color: #FDCC03;
}
.haseulGreen {
  color: #00A652;
}
.yeojinOrange {
  color: #F37020
}
.viviPink {
  color: #F5A0B3
}
.kimlipRed {
  color:#EF1841
}
.jinsoulBlue {
  color: #1924A7
}
.choerryPurple {
  color: #5A2B92
}
.yvesBurgandy {
  color: #7B0134
}
.chuuPink {
  color: #F6917D
}
.gowonGreen {
  color: #37BB9D
}
.oliviaSilver {
  color: #48464A
}