body {
  font-family: 'Do Hyeon', sans-serif;
  word-break: keep-all;
}
body::before {
  display: block;
  content: '';
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

#profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.heejinPink {
  color: #ED0090;
}
.hyunjinYellow {
  color: #FDCC03;
}
.haseulGreen {
  color: #00A652;
}